


ul#solDetalle
{	
		padding:20px;
    background-color: #FFFFFF;
    border: 0px solid #C0C0C0;
    font-family: verdana;
    font-size: small;
    color: #333333;
}


ul#solDetalle li span
{
	font-weight: bold;
	width: 110px;
	display:block;
	float:left;
}

ul#solDetalle
{
	list-style-type: none;
}