/******************
HTML Tags
******************/

body {
	font-family:Verdana;
	color:#666666;
	margin:0px 0px 0px 0px;
	font-size:10px;
	}



#content-right img {
	border:none;
	}

#breadcrumb-right label {
	display:none
	}

/******************
FORM STYLES
******************/

#content-container{
    padding:50px 0px 0px 400px;
}
#content-container form {
	margin:0px 0px;
	padding:0px 0px 0px 0px;
	}

#content-container fieldset {
	margin:10px 0px 20px 0px;
	padding:0px 10px 10px 20px;
	}

/* a nested fieldset */
#content-container fieldset fieldset {
	margin:15px 0px 5px 0px;
	padding:0px 5px 5px 5px;
	}

#content-container legend {
	margin-bottom:0px;
	padding:0px 10px 5px 5px;
	color:#666666;
	font-weight:bold;
	}

/* a nested legend */
#content-container fieldset fieldset legend {
	margin-bottom:0px;
	padding:0px;
	font-weight:normal;
	}

#content-container label {
	display:block;
	padding-top:8px;
	}

#breadcrumb-right form {
	margin:0px;
	padding:0px;
	text-align:right;
	}

#breadcrumb-right form fieldset {
	margin:0px;
	padding:0px;
	border:none;
	}

#breadcrumb-right form legend {
	display:none;
	}

/******************
LINKS
******************/

/* LINK VISTED HOVER ACTIVE selectors must remain in this order to work */
a:link {
	color:#000000;
	text-decoration:none;
	}

a:visited {
	color:#000000;
	text-decoration:none;
	}

a:hover {
	color:#000000;
	/*text-decoration:underline;*/
	}

a:active {
	color:#000000;
	text-decoration:none;
	}

/* LINK VISTED HOVER ACTIVE selectors must remain in this order to work */
#mainnav-container a:link {
	color:#000000;
	text-decoration:none;
	}

#mainnav-container a:visited {
	color:#000000;
	text-decoration:none;
	}

#mainnav-container a:hover {
	color:#000000;
	text-decoration:none;
	}

#mainnav-container a:active {
	color:#000000;
	text-decoration:none;
	}

/* All link states are selected with an "a" */
#header
{
	color: #000000;
	text-decoration:none;
}

#breadcrumb-container a {
	color:#000000;
	text-decoration:none;
	}

/******************
HEADINGS
******************/

h1 {
	font-size:1.6em;
	padding:0;
	margin:0 0 10px 0;
	}

h2 {
	font-size:1.1em;
	}

h3 {
	font-size:1.4em;
	}
	
h4 {
	font-size:1.1em;
	}
	
h5 {
	font-size:.9em;
	}
	
h6 {
	font-size:.8em;
	}

#three-column-container h2 {
	margin:0px 0px 10px 0px;
	padding:0px;
	}
	
/******************
LAYOUT STYLES
******************/

#nombre_user 
{
    
    color: #000000;
    font-size: 0.6em;
}

#mainnav-container
{
	width: 100%;
	padding: 3px;
	border-bottom: 2px solid #7F7F7F;
	border-right: 1px solid #7F7F7F;
	border-left: 1px solid #EDEDED;
	margin-bottom: 1px;
	table-layout: fixed;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

#mainnav-side {
	text-align:right;
	}

#header
{
    width: 100%;
	padding: 0px;
	height: 10px;
	vertical-align:top;
	color: #FFFFFF;
	table-layout: fixed;
	font-weight: bold;
	border-bottom:1px solid #000000;
}
#header_user
{
    font-size: 1.5em;
   /* width:20%; */
    text-align:justify;
}


#header_titulo
{
    font-size: 2.52em;
    width:60%;
    text-align:center;
    color:#444444;

}

#header_logo
{
    width:20%;

}
#nombre_usuario
{
    
    text-align:left;
    color: #000000;
    font-size:0.5em;
}


#foto_logo
{
    width:105px;
    height: 60px; 
    margin-left:100%;
}

 img.Imagen_Usuario {/* scalable em size class 200 x 200 graphics */
                    width: 4em;
                    height: 3.5em;
                    background-color:Transparent;
                    text-align: left;
                    vertical-align: middle;
                    padding-top: 16px;
                    padding: 5px;
                    
 
  }

#login {
                    
                    height: 160px;
                    background-color:Transparent;
                    margin-top:10%;
                    margin-left:25%;
                    margin-right:25%;
                    margin-bottom:25%;
                    position:fixed;
                    text-align:justify;
                    vertical-align:middle;
                    padding-top: 16px;
                    padding: 0px;
 

}    


#header a {
	text-decoration:none;
	color:#CFC9CF;
	}

	
#breadcrumb-container {
	width:100%;
	padding:0px 0px 10px 10px;
	border-bottom:2px solid #7F7F7F;
	border-right:1px solid #7F7F7F;
	border-left:1px solid #EDEDED;
	margin-bottom:1px;
	/*background: #CFC9CF url(bg-topnav.gif) repeat-x;*/
	table-layout:fixed;
	}

#breadcrumb-left {
 
	vertical-align:top;
	}

#breadcrumb-right {
 
	text-align:right;
	}

#content-container {
	/*width:100%;*/
	width:1000px;
	border-bottom:1px solid #000000;
	padding:0px;
	margin:0px 0px 0px 0px;
	table-layout:fixed;
	}

#content-left {
	width:250px;
	padding:10px 5px 10px 10px;
	vertical-align:top;
	}

#content-right {
	background-color:#F6F6F6;
	width:0px;
	padding:0px;
	vertical-align:top;
	}

#content {
	background-color:#FFFFFF;
	padding:10px 10px 10px 5px;
	border-left:1px fixed #D0D0BF;
	border-right:1px fixed #D0D0BF;
	vertical-align:top;
	}

#three-column-container {
	width:100%;
	margin:1px 0px;
	text-align:justify;
	table-layout:fixed;
	}

#three-column-left {
	width:30%;
	padding-right:3%;
	vertical-align:top;
	}

#three-column-middle {
	width:30%;
	vertical-align:top;
	}

#three-column-right {
	width:30%;
	padding-left:3%;
	vertical-align:top;
	}

#footer {
	width:100%;
	padding:10px;
	border-bottom:1px solid #000000;
	text-align:center;
	table-layout:fixed;
	}

/******************
TABLE STYLES
******************/

.table {
	width:100%;
	border:1px solid #D0D0BF;
	border-collapse:collapse;
	}
	
.table td {
	padding:10px;
	}

thead th, tfoot th {
	background-color:#E8E8E8;
	border-bottom:2px solid #D0D0BF;
	border-top:2px solid #D0D0BF;
	padding:10px;
	font-weight:normal;
	font-variant:small-caps;
	}

/******************
CLASSES
******************/

.clear {
	clear:both;
	}

.button-big {
	margin-top:8px;
	}

img.photobig, img.photosmall {
	border-top:1px solid #CCCCCC;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	border-left:1px solid #CCCCCC;
/*	background: #E0E0E0 url(background_table_04.gif) repeat-x; */
	padding:8px;
	}

img.photosmall {
	margin-right:10px;
	margin-bottom:2px;
	float: left;
	}


.none {
	display:none;
	}
	



#divMensajesGrilla
        {
            padding: 1px;
            position: fixed; 
            top: 250px; 
            left: 250px;
            width: 200px;
            height: 200px;
            float: right;
            text-align: Left;
            background-color: #FFFFCC;
            border: 1px solid #666666;
            color: #CC3300;
            font-family: verdana;
            font-size: 12px;
            display: none;
            margin:auto;
        }
#ImagenFondoLogin
{
 position:absolute; elevation:below;
 
}

.button_custom
{
	background-color:#FFFBFF;
	border-color:#CCCCCC;
	border-style:solid;
	border-width:1px;
    font-family:Verdana;
    font-size:10px;
    color:#284775;
}

.header_custom
{
/*	background-color:#FFC515; */
    background-color:#545454;
	font-weight:bold;
	font-family:Verdana;
    font-size:12px;
    color:#ffffff;
    padding-top:5px;
    padding-bottom:5px;
    padding:10px 10px 10px 10px;
    
}

.text_custom
{
	font-family:Verdana;
    font-size:10px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.modalPopup {
	background-color:#ffffff;
	border-width:1px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:700px;
}

.text_menu
{
    background-color:blue;
	font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    
}

.dynamic_menu_fix
{
	font-family:Verdana;
    font-size:12px;
    font-weight:bolder;
    
    
}

.Menu-Skin-StaticItem
{
background-color:#EEEEEE;
border-style:solid;
border-color:#888888;
font-weight:bold;

}

.Menu-Skin-StaticItem_Hover
{
background-color:#FFD700;
border-style:solid;
border-color:#888888;
font-weight:bold;

}
